body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #AFC97E, #353552, #4facfe);
     min-height: 100vh;
}

header {
    background: linear-gradient(135deg, #AFC97E, #353552, #4facfe);
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.task-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
 
}

.task-list {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 3px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
